* {
  box-sizing: border-box;
}

html {
  // 1 rem is 16px. By doing this we convert 1rem to 10px.
  font-size: 62.5%;
}

body {
  color: $dark-gray;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default
}

.is-active {
  font-weight: bold;
}