//Colors
$dark-gray: #333333;
$gray: #666;
$blue: #428bca;
$dark-blue: #364051;
$off-white: #f7f7f7;
$black: #444;
$light-gray: #F2F2F2;
$green: #3B9921;

//Font weights
$light-bold: 500;

//Font sizes
$font-size-small: 1.4rem;
$font-size-large: 2rem;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;